<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>

<form action="/book/add" method="post" th:object="${bookForm}">

    Title: <input type="text" th:field="*{title}"> <br/>
    Author: <input type="text" th:field="*{author}"> <br/>


    <br/><br/>

    <input type="submit" value="Add">
</form>

<br/>
<button><a href="/customer/add">Add Customer</a></button>
<button><a href="/customer/all">All Customers</a></button>
<button><a href="/book/book">Check Bookings</a></button>
<button><a href="/book/all">All Books</a></button>

</body>
</html>