<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
<h1>Add customer:</h1>

<th:block th:if="${customer != null}" th:switch="${customer}">
    <h1 style="color:green" th:case="${customer.CREATED}" th:text="#{created}"></h1>
    <h1 style="color:red" th:case="${customer.CUSTOMER_ALREADY_EXIST}" th:text="#{customer.already.exist}"></h1>
</th:block>

<!--<span style="color:red" th:text="${customer != null ? customer : ''}"></span> -->

<br/><br/>
<form action="/customer/add" method="post" th:object="${customerForm}">

    Name: <input type="text" th:field="*{name}"> <br/>
    Surname: <input type="text" th:field="*{surname}"> <br/>
    Telephone: <input type="text" th:field="*{mobile}"> <br/>


    <br/><br/>

    <input type="submit" value="Add">
</form>

<br/>
<button><a href="/customer/all">All Customers</a></button>
<button><a href="/book/book">Check Bookings</a></button>
<button><a href="/book/all">All Books</a></button>
<button><a href="/book/add">Add Book</a></button>

</body>
</html>